@model Clinica.Models.Medicamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeMedicamento" class="control-label"></label>
                <input asp-for="NomeMedicamento" class="form-control" />
                <span asp-validation-for="NomeMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeGenerico" class="control-label"></label>
                <input asp-for="NomeGenerico" class="form-control" />
                <span asp-validation-for="NomeGenerico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFabrica" class="control-label"></label>
                <input asp-for="NomeFabrica" class="form-control" />
                <span asp-validation-for="NomeFabrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFabricacao" class="control-label"></label>
                <input asp-for="DataFabricacao" class="form-control" />
                <span asp-validation-for="DataFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVencimento" class="control-label"></label>
                <input asp-for="DataVencimento" class="form-control" />
                <span asp-validation-for="DataVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
