@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Viva Saudável</h1>        
        <img src="images/familia-feliz.jpg" alt="Sample Photo" width="800px" />
    </div>
